@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'static/icons/fontawesome/css/fontawesome-all.min.css';
@import 'static/icons/iconmind/iconmind.css';
@import 'static/icons/simple-line-icons/simple-line-icons.css';
@import 'static/icons/themify-icons/themify-icons.css';

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
